/*--Tipografia--*/
@font-face {
    font-family: Outfit;
    src: url("../assets/fonts/outfit/Outfit-VariableFont_wght.ttf");
}
@font-face {
    font-family: YoungSerif;
    src: url("../assets/fonts/young-serif/YoungSerif-Regular.ttf");
}
/*--Variables--*/
:root{
    --color-White: hsl(0, 0%, 100%);
    --color-Stone-100: hsl(30, 54%, 90%);
    --color-Stone-150: hsl(30, 18%, 87%);
    --color-Stone-600: hsl(30, 10%, 34%);
    --color-Stone-900: hsl(24, 5%, 18%);
    --color-Brown-800: hsl(14, 45%, 36%);
    --color-Rose-800: hsl(332, 51%, 32%);
    --color-Rose-50: hsl(330, 100%, 98%);
    --font-family-primaria: "OutFit";
    --font-family-secundaria: "YoungSerif";
    --font-size-titulo: 3.6rem;
    --font-size-subtitulo: 2.8rem;
    --font-size-parrafo: 1.6rem;
    --font-size-subparrafo: 1.2rem;
    --font-weight-400: 400;
    --font-weight-600: 600;
    --font-weight-700: 700;
}
/*--Reset--*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.4;
}
html{
    font-size: 62.5%;
}